.heading {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}

.info {
  text-align: center;
  margin: 10px;
  font-size: 20px;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 496px;
    margin: 50px auto;
    border: 3px solid white;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: grey;
    transition: background-color 0.3s linear;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 5px;

}

.cell:hover {
    background-color: paleturquoise;
    transition: background-color 0.3s linear;
}

.mine {
    background-image: url("../img/mine3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
}

.christ {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.number {
    display: none;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
}

.flag {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c0/Black_flag_waving.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.restart-btn {
    display: none;
    width: 150px;
    height: 40px;
    background-color: red;
    font-size: 20px;
    margin: 20px auto;
    z-index: 10;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.game-over {
    display: none;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

.game-over button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}
